{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form method="post"{% csrf_token %}  
    <div class="form-group">
      <label>{% trans "Title" %}</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label>{% trans "Description" %}</label>
      <textarea id="description" class="form-control" placeholder="Enter description"></textarea>
    </div>


    <div class="form-group">
      <label>link</label>
      <input type="text" class="form-control" id="link_input" placeholder="Enter link">
    </div>

    <div class="form-group">
      <label>{% trans "Mail" %}</label>
      <input type="text" class="form-control" id="mail" placeholder="Enter mail">
    </div>


    <div class="form-group">
        <label>{% trans "Upload Image" %}</label>
        <input type="file" id="image" class="form-control-file">
    </div>
    <button type="button" id="submit" class="btn btn-success">Submit</button>
  </form>


    <p style=color:green>{% trans "hello" %}</p>

 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var formData = new FormData();
    
      $(document).on('click', '#submit', function(e) {
        formData.append('title', $('#title').val())
        formData.append('description', $('#description').val())
        formData.append('link', $('#link_input').val())
        formData.append('mail', $('#mail').val())
        formData.append('image',  $('#image')[0].files[0])
        formData.append('action', 'create-form')
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

          $.ajax({
              type: 'POST',
              url: '{% url "create-form" %}',
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
              enctype: 'multipart/form-data',
              
              success: function (){
                alert(  "ajax :  {{ csrf_token}}");
                alert('The form has been created!');
            
              },
              error: function(xhr, errmsg, err) {
                  console.log(xhr.status + ":" + xhr.responseText)
              }
          })
      })
</script>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

 


</script>

<style>
    .form-group {
        margin-bottom: 1rem;
        color: rgb(255, 255, 255);
    }
html,body { 
background-image: url("https://www.m2c2.media/wp-content/uploads/2021/06/1092758.jpg");
height: 100%;
background-repeat: no-repeat;
 
 
}

  
</style>

{% endblock %}
